<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.RefundMapper" >
  <resultMap id="BaseResultMap" type="com.test.model.Refund" >
    <id column="orderid" property="orderid" jdbcType="CHAR" />
    <result column="refund_time" property="refundTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    orderid, refund_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbrefund
    where orderid = #{orderid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbrefund
    where orderid = #{orderid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.test.model.Refund" >
    insert into tbrefund (orderid, refund_time, status
      )
    values (#{orderid,jdbcType=CHAR}, #{refundTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.model.Refund" >
    insert into tbrefund
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="refundTime != null" >
        refund_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=CHAR},
      </if>
      <if test="refundTime != null" >
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.model.Refund" >
    update tbrefund
    <set >
      <if test="refundTime != null" >
        refund_time = #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where orderid = #{orderid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.model.Refund" >
    update tbrefund
    set refund_time = #{refundTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where orderid = #{orderid,jdbcType=CHAR}
  </update>
</mapper>