<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.CouponMapper" >
  <resultMap id="BaseResultMap" type="com.test.model.Coupon" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <result column="couponid" property="couponid" jdbcType="INTEGER" />
    <result column="coupon_instruc" property="couponInstruc" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="coupon_value" property="couponValue" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, couponid, coupon_instruc, start_date, end_date, coupon_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbcoupon
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbcoupon
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.model.Coupon" >
    insert into tbcoupon (userid, couponid, coupon_instruc, 
      start_date, end_date, coupon_value
      )
    values (#{userid,jdbcType=INTEGER}, #{couponid,jdbcType=INTEGER}, #{couponInstruc,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{couponValue,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.model.Coupon" >
    insert into tbcoupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="couponid != null" >
        couponid,
      </if>
      <if test="couponInstruc != null" >
        coupon_instruc,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="couponValue != null" >
        coupon_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="couponid != null" >
        #{couponid,jdbcType=INTEGER},
      </if>
      <if test="couponInstruc != null" >
        #{couponInstruc,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="couponValue != null" >
        #{couponValue,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.model.Coupon" >
    update tbcoupon
    <set >
      <if test="couponid != null" >
        couponid = #{couponid,jdbcType=INTEGER},
      </if>
      <if test="couponInstruc != null" >
        coupon_instruc = #{couponInstruc,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="couponValue != null" >
        coupon_value = #{couponValue,jdbcType=INTEGER},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.model.Coupon" >
    update tbcoupon
    set couponid = #{couponid,jdbcType=INTEGER},
      coupon_instruc = #{couponInstruc,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      coupon_value = #{couponValue,jdbcType=INTEGER}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
</mapper>